.login-container {
    background-color: rgba(165, 188, 120, 0.7);
    background-image: url('/static/images/ricardo-milos2.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: 50px auto;
}

h1, h2 {
    color: #333;
}

.btn-google {
    background-color: #4285F4;
    color: white;
    border: none;
}

.btn-google:hover {
    background-color: #357ae8;
}