.registration-container {
    background-color: rgba(195, 236, 151, 0.55);
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тень */
    max-width: 400px;
    margin: 50px auto;
    text-align: center;
    transition: transform 0.3s ease;
}

.registration-container:hover {
    transform: translateY(-5px);
}

h1 {
    color: #333;
    margin-bottom: 20px;
    animation: fadeInUp 1s;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
}

.input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.input-wrapper .icon {
    position: absolute;
    left: 10px;
    font-size: 18px;
    color: #555;
    transition: color 0.3s ease, transform 0.3s ease;
}

.form-group input {
    width: 100%;
    padding: 10px 10px 10px 40px; /* Отступ для иконки */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-group input:focus {
    border-color: #78ab46;
    box-shadow: 0 0 5px rgba(120, 171, 70, 0.5);
}

.input-wrapper:hover .icon {
    color: #78ab46;
    transform: scale(1.2);
}

.btn-dark {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    animation: pulse 2s infinite;
    width: 100%;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-dark:hover {
    background-color: #555;
    transform: scale(1.05);
}

.message-container {
    margin-top: 20px;
}

.message {
    font-size: 16px;
}

.message.error {
    color: red;
}

.message.success {
    color: green;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
