
body {
    background-image: url('https://files.oaiusercontent.com/file-sQGKy2J6Yl0Gn80IBvr5YRp4?se=2024-11-20T23%3A30%3A46Z&sp=r&sv=2024-08-04&sr=b&rscc=max-age%3D604800%2C%20immutable%2C%20private&rscd=attachment%3B%20filename%3Dd6fa16e2-19bf-40a4-9df3-dd645733bdff.webp&sig=/gh7IeZoMo6VP4rxpCFhb95JQG2ZfOyxVMZ1rHKOKMA%3D');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.navbar {
    background-color: rgba(209, 239, 164, 0.5) !important;
}

.product:hover {
    transition: 0.5s;
    transform: scale(1.02);
}

.product-link {
    color: #000 !important;
    text-decoration: none;
}
/* Стили для анимации загрузки */
.loading-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(104, 195, 150, 0.42);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.loading-container.active {
    visibility: visible;
    opacity: 1;
}

.spinner {
    border: 8px solid #3fdfd2;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}