
body {
    background-image: url('https://files.oaiusercontent.com/file-sQGKy2J6Yl0Gn80IBvr5YRp4?se=2024-11-20T23%3A30%3A46Z&sp=r&sv=2024-08-04&sr=b&rscc=max-age%3D604800%2C%20immutable%2C%20private&rscd=attachment%3B%20filename%3Dd6fa16e2-19bf-40a4-9df3-dd645733bdff.webp&sig=/gh7IeZoMo6VP4rxpCFhb95JQG2ZfOyxVMZ1rHKOKMA%3D');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.navbar {
    background-color: rgba(209, 239, 164, 0.5) !important;
}

.product:hover {
    transition: 0.5s;
    transform: scale(1.02);
}

.product-link {
    color: #000 !important;
    text-decoration: none;
}